[submodule "valmi-app"]
	path = valmi-app
	url = git@github.com:valmi-io/valmi-app.git
[submodule "valmi-app-backend"]
	path = valmi-app-backend
	url = git@github.com:valmi-io/valmi-app-backend.git
[submodule "valmi-integrations/connectors/source-postgres/valmi_dbt/valmi_dbt_source_transform"]
	path = valmi-integrations/connectors/source-postgres/valmi_dbt/valmi_dbt_source_transform
	url = git@github.com:valmi-io/valmi_dbt_source_transform.git
