DEBUG: True
DELETE_METRICS_DB: False
APP_BACKEND: localhost
APP_BACKEND_PORT: 4000
DAGIT_HOST: localhost
DAGIT_PORT: 4002
APP: "valmi"
REPO_NAME: "valmi-repo"
DATABASE_URL: "postgresql://postgres:changeme@localhost:5432/valmi_activation"
DAGTSER_MAX_TRIES: 3
DAGSTER_MIN_RETRY_INTERVAL: 10
DAGSTER_MAX_RETRY_INTERVAL: 120
LOGGER_NAME: "valmi"
ADMIN_USERNAME: "admin-changeme"
ADMIN_EMAIL: "admin-changeme@valmi.io"
ADMIN_PASSWORD: "changeme"

HTTP_REQ_TIMEOUT: 10 #seconds
LOGGING_CONF:
  version: 1
  formatters:
    json:
        class: "pythonjsonlogger.jsonlogger.JsonFormatter"
        format: "%(asctime)s %(process)s %(levelname)s %(name)s %(module)s %(funcName)s %(lineno)s"
    simple:
      # {}-formatting(std.format), please see https://docs.python.org/3/library/logging.html#logrecord-attributes
      format: "{asctime} {name} {levelname: <8} {threadName: <10.10} {module: >32}::{funcName: <20.20} {message}"
      datefmt: "%m/%d/%Y %I:%M:%S %p"
      style: "{"
  handlers:
    console:
      class: logging.StreamHandler
      level: DEBUG
      formatter: simple
      stream: ext://sys.stdout 
  loggers:
    valmi:
      propagate: false
      level: DEBUG
      handlers: [console] 
    vyper:
      propagate: false
      level: INFO
      handlers: [console]
    requests:
      level: WARNING
      handlers: [console]
    gql.transport.requests:
      level: WARNING
      handlers: [console]
    urllib3:
      level: WARNING
      handlers: [console]
    uvicorn.error:
      level: DEBUG
      handlers: [console]
    uvicorn.access:
      level: DEBUG
      handlers: [console]
  root:
    level: DEBUG
    handlers: [console]
  disable_existing_loggers: false

## chunk size per destination
CONNECTOR_RUN_CONFIG:
  FACEBOOK_ADS:
    chunk_size: 9500
  WEBHOOK:
    records_per_metric: 100
  POSTGRES:
    records_per_metric: 100

