valmi_redshift:
  target: valmi
  outputs:
    valmi:
      type: redshift
      host: {{ config["host"] }}
      user: {{ config["user"] }}
      password: {{ config["password"] }}
      port: {{ config["port"] }}
      dbname: {{ config["database"] }}
      schema: valmi_scratch_computed_
      threads: 4
config:
    send_anonymous_usage_stats: False

