*
!docker-entrypoint.sh
!destination_container_wrapper.py
!proc_stdout_handler.py
!read_handlers.py
!proc_stdout_event_handlers.py
!engine.py
!Dockerfile
!main.py
!destination_webhook
!setup.py
!valmi_protocol
!valmi_destination

