name: 'valmi_snowflake'

config-version: 2
version: '0.1'

profile: 'valmi_snowflake'

model-paths: ["models"]
seed-paths: ["seeds"]
test-paths: ["tests"]
analysis-paths: ["analysis"]
macro-paths: ["macros"]

target-path: "target"
clean-targets:
    - "target"
    - "dbt_modules"
    - "logs"

require-dbt-version: [">=1.0.0", "<2.0.0"]

models:
  valmi_snowflake:
      materialized: table
      staging:
        materialized: table


quoting:
  database: false
  schema: false
  identifier: false

vars:
  source_table: "\"{{args['name']}}\""
  init: "init_{{args['sync_id']}}"
  finalized_snapshot:  "finalized_snapshot_{{args['sync_id']}}"
  stg_snapshot: "stg_snapshot_{{args['sync_id']}}"
  ignored_snapshot: "ignored_snapshot_{{args['sync_id']}}"
  transit_snapshot: "transit_snapshot_{{args['sync_id']}}"
  cleanup_snapshot: "cleanup_snapshot_{{args['sync_id']}}"

  full_refresh: {{args['full_refresh']}}
  previous_run_status: "{{args['previous_run_status']}}" 

  destination_sync_mode: "{{args['destination_sync_mode']}}" 

  columns: {{args['columns']}} 
  id_key: "{{args['id_key']}}" 
