valmi_snowflake:
  target: valmi
  outputs:
    valmi:
      type: snowflake
      account:  {{ config["account"] }}

      # User/password auth
      user: {{ config["user"] }}
      password: {{ config["password"] }}

      database: "VALMI_IO"
      warehouse: {{ config["warehouse"] }}
      schema: "VALMI_SCRATCH_COMPUTED_"
      threads: 4
      client_session_keep_alive: False
      query_tag: "valmi"

      # optional
      connect_retries: 0 # default 0
      connect_timeout: 10 # default: 10
      retry_on_database_errors: False # default: false
      retry_all: False  # default: false
      reuse_connections: False # default: false (available v1.4+)

config:
    send_anonymous_usage_stats: False

