name: Valmi activation docker build
on:
  push:
    tags:
      - 'valmi-activation/*.*.*'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Parse Connector Info
        id: vars
        run: |
          tag=${GITHUB_REF#refs/*/}
          echo "version=${tag#valmi-activation/}" >> $GITHUB_OUTPUT
      - name: Setup Docker BuildX
        run: make setup-buildx
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build Connector Docker Image
        env:
          valmi_activation_version: ${{steps.vars.outputs.version}}
        run: make build-and-push-valmi-activation
